body {
	margin: 20px 40px;
}

.job {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px auto;
	padding: 20px 10px;
}

.job:hover {
	cursor: pointer;
	color: #666;
}

.detail-logo {
	height: 30px;
	float: right;
}
